/* common start */
body{
  margin: 0;
  padding: 0;
}
/* common end */

/* header start */
header{
  padding: 10px 0;
  border-bottom: 3px solid #EEF0F3;
}
.container {
  width: 87%;
  margin: 0 auto;
  overflow: hidden;
  /* border: 1px solid red; */
}

.logo {
  width: 10%;
  float: left;
  /* border: 1px solid red; */
}

.logo img{
  width: 100%;
}
.menu {
  margin-top: 4px;
  width: 45%;
  float: right;
  /* border: 1px solid red; */
}
.menu ul{
  float: right;
}
.menu ul li{
  list-style: none;
  float: left;
}
.menu ul li a{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0F2656;
  text-decoration: none;
  margin: 0 20px;
  display: inline-block;
}
.menu ul li a:hover{
  color:#008aff;
}
.menu ul li:last-child a{
  margin-right: 0;
}
/* header end */
/* banner start */
.banner{
    padding: 40px 0;
    /* border: 1px solid red; */
}
.container2{
  width: 50%;
  margin: 0 auto;
  /* border: 1px solid green; */
}
.b_content{
  font-family: sans-serif;
  text-align: center;
}
.b_content h1{
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  color: #0F2656;
}
.b_content h2{
  margin: 10px 0;
  font-size: 55px;
  font-weight: 700;
  color: #008AFF;
}
.b_content p{
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  color: #0F2656;
  line-height: 26px;
  word-spacing: 1.5px;
}
.b_image{
  /* border: 1px solid red; */
  width: 75%;
  margin: 0 auto;
}
.b_image img{
  width: 100%;
}

/* banner end */
